rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /Davinch/{document=**} {
      allow read;
      allow write: if request.auth.token.admin == true;
    }
    match /Davinch_News/{document=**} {
      allow read;
      allow write: if request.auth.token.admin == true;
    }
    match /admin_users/{document=**} {
      allow read: if request.auth.token.admin == true;
      allow write: if request.auth.token.admin == true;
    }
    match /Users/{document=**} {
    	allow read: if request.auth != null;
      allow write: if request.auth != null;
    }
    match /Davinch_contact/{document=**} {
      allow read;
      allow write: if request.auth.token.admin == true;
    }
  }
}
